#vis {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px grey solid;
	box-sizing: border-box;
	padding: 1%;
}
#vis svg {
	width: 100%;
	height: 100%;
	border: 1px grey solid;
}

@keyframes spin {
	0% {transform: scale(1);}
	50% {transform: scale(2);}
	100% {transform: scale(1);}
}
@-webkit-keyframes spin {
	0% {transform: scale(1);}
	50% {transform: scale(2);}
	100% {transform: scale(1);}
}

#vis svg image {
	transform-origin: center center;
	animation-name: spin;
	animation-duration: 1500ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	-webkit-animation-name: spin;
	-webkit-animation-duration: 1500ms;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}
